body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}


.dataTables_wrapper .dataTables_filter {
  /* float: left !important; */
  text-align: right;
  margin-bottom: 20px;
}

/* Grid */

.panel-table {
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: 30px;
}

.box-panel-1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 26;
}

.box-panel-2 {
  grid-column-start: 8;
  grid-column-end: 15;
  grid-row-start: 4;
  grid-row-end: 7;
  overflow-y: scroll;
  height: 70px;
}

.box-panel-3 {
  grid-column-start: 15;
  grid-column-end: 19;
  grid-row-start: 4;
  grid-row-end: 7;
  margin-left: 25px;
}

.box-panel-3 .button {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.box-panel-3 .button:hover {
  background-color: #3e8e41
}

.box-panel-3 .button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.box-panel-4 {
  grid-column-start: 19;
  grid-column-end: 21;
  grid-row-start: 4;
  grid-row-end: 7;
  margin-top: 12px;
  margin-left: 25px;
}

.box-panel-4 .pdf {
  font-size: 36px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: red;
  box-shadow: 0 5px #999;
}

.box-panel-4 .pdf:hover {
  background-color: rgb(216, 19, 19);
}

.box-panel-4 .pdf:active {
  background-color: rgb(216, 19, 19);
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.box-panel-5 {
  /* background-color: red; */
  grid-column-start: 8;
  grid-column-end: 21;
  grid-row-start: 7;
  grid-row-end: 26;
}

.wrapper {
  margin: 0px;
  display: flex;
}


.box1 {
  flex: 2;
}

.box2 {
  flex: 1;
}

.box3 {
  flex: 2;
}

table.table-seccion {
  position: left;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.table-seccion tr td,
table.table-seccion tr th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
  font-size: 12px;
}

table.table-seccion tr th {
  background-color: rgba(22, 126, 230, 0.738);
}

table.table-seccion tr:nth-child(even) {
  background-color: #dddddd;
}

.cbox {
  cursor: pointer;
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: center;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  margin: 2px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.table-seccion {
  margin: 10px 5px 15px 5px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .dataTables_scrollBody {
    max-height: 30vh !important;
  }

  .panel-table {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: 30px;
  }

  .box-panel-1 {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 4;
    grid-row-end: 18;
  }

  .box-panel-2 {
    grid-column-start: 2;
    grid-column-end: 21;
    grid-row-start: 18;
    grid-row-end: 20;
    height: 70px;
    margin-top: 5px;
    overflow-y: scroll;
  }

  .box-panel-3 {
    grid-column-start: 2;
    grid-column-end: 15;
    grid-row-start: 20;
    grid-row-end: 22;
    margin-top: 15px;
  }

  .box-panel-4 {
    grid-column-start: 16;
    grid-column-end: 21;
    grid-row-start: 21;
    grid-row-end: 22;
    margin-top: 0px;
    margin-left: 25px;
  }

  .box-panel-5 {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 23;
    grid-row-end: 41;
    margin-top: 20px;
  }
}